html {
  background-color: #416D76;
}

div {
    /* border: 3px solid; */
}

.pages-header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 70px;
    font-size: 26px;
    color: #FFFFFF;
}

.pages-images {
  padding-bottom: 70px;
}

.pages-image-1 {
  width: 70%;
  /* height: auto; */
  max-height: 700px;
  object-fit: cover;
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.fixedbutton {
  position: fixed;
  width: 70px;
  top: 30px;
  left: 30px; 
}

.pages-notes {
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 32px;
  color: #FFFFFF;
}

.web-button {
  background-color: #0D1117; 
  color: white;
  border: none;
  font-size: 26px;
  padding: 30px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  transition-duration: 0.6s;
}
.web-button:hover {
  background-color: #ffffff; /* Green */
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.div-contenaire {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
   .pages-image-1 {
    max-height: 300px;
  }
}